apiVersion: 1
groups:
    - orgId: 1
      name: 鯖おち
      folder: どな鯖
      interval: 3m
      rules:
        - uid: bf3m1lt47mm0wa
          title: server up
          condition: C
          data:
            - refId: A
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: ef3id6ddqbf9ca
              model:
                editorMode: builder
                exemplar: false
                expr: up{instance="mc:19565"}
                format: time_series
                instant: true
                interval: ""
                intervalMs: 1000
                legendFormat: __auto
                maxDataPoints: 43200
                range: false
                refId: A
            - refId: C
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 1
                        type: ne
                      operator:
                        type: and
                      query:
                        params:
                            - C
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: A
                intervalMs: 1000
                maxDataPoints: 43200
                refId: C
                type: threshold
          noDataState: NoData
          execErrState: Error
          for: 5m
          isPaused: false
          notification_settings:
            receiver: アラート
