services:
  s3:
    image: dxflrs/garage:v2.1.0
    restart: unless-stopped
    ports:
      - "3900:3900"
      - "3901:3901"
      - "3902:3902"
      - "3903:3903"
    volumes:
    - ./garage.toml:/etc/garage.toml
    - ./meta:/var/lib/garage/meta
    - ./data:/var/lib/garage/data
    networks:
      garage:
        ipv4_address: 172.50.0.2

networks:
  garage:
    driver: bridge
    ipam:
     driver: default
     config:
      - subnet: 172.50.0.0/16
        gateway: 172.50.0.254